@tailwind base;
@tailwind components;
@tailwind utilities;

link {
  color: blue;

}

.visit-link-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}